doctype
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		script(src='/bundle.js')
		link(rel="shortcut icon" href="./favicon.ico")
		link(rel="bookmark" href="./favicon.ico" type="image/x-icon")
		link(href='./style/publicStyle.css' rel='stylesheet' type='text/css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		link(href='./style/banner.css' rel='stylesheet' type='text/css')
		link(href='./style/index.css' rel='stylesheet' type='text/css')
		link(href='./style/infoMore.css' rel='stylesheet' type='text/css')
	body
		include ../includes/sidebar.jade
		include ../includes/header.jade
		include ../includes/nav.jade
		div.fixSearchBox#fixBox
			form(ation='#{router}' method='post')
					input(type='text' placeholder='#{searchWord}').inputText
					input(type='submit' value='搜索' ).inputSummit
		div.indexBanner
			div.middle
				include ../includes/banner.jade
				div.infoMoreWrap
					//-include ../includes/infoMore.jade
		div.mainMiddle
			//-di yi ceng
			div.mainRecommended
				//-zuo bian
				div.mainRecLive
					div.LiveImghidden
						div.LiveImgWrap
							img(src='./images/big/big3.webp').mainRecLiveImg
							img(src='./images/big/big2.webp').mainRecLiveImg
							img(src='./images/big/big1.webp').mainRecLiveImg
							img(src='./images/big/big4.webp').mainRecLiveImg
							img(src='./images/big/big5.webp').mainRecLiveImg
							img(src='./images/big/big6.webp').mainRecLiveImg
					div.LiveList
						div.liveListWrap
							img(src='./images/big/big1.webp')
							img(src='./images/big/big2.webp')
							img(src='./images/big/big3.webp')
							img(src='./images/big/big4.webp')
							img(src='./images/big/big5.webp')
							img(src='./images/big/big6.webp')
					div.liveFore
						div.liveForeLeft
							span 直播预告
							span.alertSpan.vertiSpan LIVE
							span |
						div.liveForeRight
							div.liveForeListWrap
								div.oneLiveFore 
									span 欧丽薇兰携手海清还原锋味菜
									span.alertSpan 互动赢红包
								div.oneLiveFore 
									span 海错图笔记北大分享会 
									span.alertSpan 11月27日
								div.oneLiveFore 
									span 直击厦门钟表展拍卖收藏分享会
									span.alertSpan 11月27日
				//-you bian
				div.mainRecBrands
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
			div.mainNav
				div.channel-column
					div.channel-title 潮流前沿
					div.channel-part
						div.part-bigtitle 换新
						div.part-smalltitle 品牌精选新品
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
					div.channel-part
						div.part-bigtitle 全球时尚
						div.part-smalltitle 大牌精致时尚
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
				div.channel-column
					div.channel-title 手机酷玩
					div.channel-part
						div.part-bigtitle 商城手机馆
						div.part-smalltitle 魅蓝X新机首发
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
					div.channel-part
						div.part-bigtitle 酷玩街
						div.part-smalltitle 潮炫创意
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
				div.channel-column
					div.channel-title 智能品质
					div.channel-part
						div.part-bigtitle 生活必抢
						div.part-smalltitle 巨超值
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
					div.channel-part
						div.part-bigtitle 卖疯啦
						div.part-smalltitle 商城新鲜
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
				div.channel-column 
					div.channel-title 国际海购
					div.channel-part
						div.part-bigtitle 识货
						div.part-smalltitle 最热全球
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
					div.channel-part
						div.part-bigtitle 好货海外直营
						div.part-smalltitle 官方进口直采
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
				div.channel-column
					div.channel-title 个性推荐
					div.channel-part 
						div.part-bigtitle 囤货
						div.part-smalltitle 居家必备
						div.img-con
							div.img-mask
							img(src='./images/1.webp')
					div.channel-part
						div.part-bigtitle 精明主妇
						div.part-smalltitle 生活更easy
						div.img-con
							div.img-mask
							img(src='./images/1.webp')

		div.interval
			a(href="javascript:;")
				img(src='./images/index/jiange/jiange3.jpg')
		div#first-Floor.floor
			div.floor-icon
			h4.floor-name 亲子时光 
			h4.floor-sub-name KID&nbsp&&nbspBABY
			div.floor-content
				ul.floor-hot-words
					li 
						a(href='javascript:;') 童装 
					li 
						a(href='javascript:;') 玩具
					li 
						a(href='javascript:;') 待产用品
					li 
						a(href='javascript:;') 文教用品
					li 
						a(href='javascript:;') 宝宝用品
					li 
						a(href='javascript:;') 儿童用品
					li 
						a(href='javascript:;') 奶粉
					li 
						a(href='javascript:;') 童书
					li 
						a(href='javascript:;') 纸尿裤
				a.floor-content-left
					img(src='./images/index/nvzhuang.jpg')
					div.act-title-warp
						div.act-title
							div.slide-item 加绒月子服疯抢&nbsp >
							div.slide-item 保暖羽绒孕妈爱&nbsp >
							div.slide-item 全场领券包邮&nbsp >
					div.title-con
						div.title-con-tile 孕妈保暖季
						div.title-con-subtitle 冬日里的温暖阳光 
				div.floor-content-middle
					a.grid.one-grid
						div.title 公主范儿家变
						div.subTitle 加厚穿到过年
						img(src='./images/index/gongjv.jpg')
					a.grid.one-grid
						div.title 入冬的第一把火
						div.subTitle 全场免费刻字
						img(src='./images/index/pen.jpg')
					a.grid.one-grid
						div.title 解放爸妈双手
						div.subTitle 婴儿背带可以横抱
						img(src='./images/index/beidai.jpg')
					a.grid.one-grid
						div.title 冬季焕新
						div.subTitle 冬季上新欢迎选购
						img(src='./images/index/shoe.jpg')
					a.grid.one-grid
						div.title 冬季孕妇装 
						div.subTitle 冬季热卖，御寒保暖
						img(src='./images/index/pregnant.jpg')
					a.grid.one-grid
						div.title 妈妈早教清单
						div.subTitle 轻松育儿一步到位
						img(src='./images/index/zaojiao.jpg')
				div.floor-content-right
					a.grid.two-grid
						div.title 学习文具
						div.subTitle 学霸修炼清单
						img(src='./images/index/wenju.jpg')
					a.grid.two-grid
						div.title 秋冬儿童棉袜
						div.subTitle 舒适保暖纯棉透气
						img(src='./images/index/wazi.jpg')
					a.grid.two-grid
						div.title 宝宝喂养大牌日
						div.subTitle 温暖随行
						img(src='./images/index/weiyang.jpg')
		each floor in floors
			div.floor(id='#{floor.floorId}')
				div.floor-icon
				h4.floor-name=floor.floorName
				h4.floor-sub-name=floor.floorSubName
				div.floor-content
					ul.floor-hot-words
						each word in floor.floorHotwords 
							li 
								a(href='javascript:;')=word
					a.floor-content-left
						img(src='#{floor.MainImg}')
						div.act-title-warp
							div.act-title
								each  slide in floor.secondFloorSlides
									div.slide-item=slide
						div.title-con
							div.title-con-tile #{floor.floorContitle}
							div.title-con-subtitle #{floor.floorSubtitle}
					div.floor-content-middle
						each grid in floor.grids
							a.grid.one-grid
								div.title=grid.title
								div.subTitle=grid.subtitle
								img(src='#{grid.imgsrc}')
					div.floor-content-right
						each aaa in floor.right
							a.grid.two-grid
								div.title=aaa.title
								div.subTitle=aaa.subtitle
								img(src='#{aaa.imgsrc}')
		div.interval
			a(href="javascript:;")
				img(src='./images/index/jiange/jiange5.jpg')
		div.flagship
			h4 品牌旗舰店 
				span.sm-font FLAGSHIP
			ul.flagship
				each flagship in flagships
					li.singleFlagship
						div.heading
							div.flag-logo 
								img(src='#{flagship.logo}')
							div.shopmeta
								a=flagship.name 
								p=flagship.number 
							a.fr 进店看看
						ul.shop-items
							each flagGood in flagship.good
								li.shop-item
									a
										div.poster
											img(src='#{flagGood.imgsrc}')
										div.meta
											div.meta-title=flagGood.title
											div.price=flagGood.price 
		div.interval
			a(href="javascript:;")
				img(src='./images/index/jiange/jiange1.jpg')
		div.guess
			div.guess-head
				h2
					span.dash.dash-left
					span.glyphicon.glyphicon-heart-empty.txt-icon
					em 猜你喜欢
					span.dash.dash-right
			div.guess-content
				ul.guess-list
					each wonder in wonderful
						li.guess-goods
							a(href='javascript:;').guess-goods-link 
								img(src='#{wonder.imgsrc}')
								em.item-desc=wonder.desc
								span.item-price ￥
									span.price-inter=wonder.inter
									span.price-decimal=wonder.decimal
					div.cf
		include ../includes/footer.jade
		div.floor-gide
			div#nav 导航
			div 亲子时光
			div 户外出行
			div 打造爱巢
			div 家居生活
			div 潮店酷玩
			div 美丽人生
			div 品牌旗舰
			div 猜你喜欢
			div#toTop 顶部
	script(src='./bower_components/jquery/dist/jquery.min.js')
	script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='./script/banner.js' type='text/javascript')
	script(src='./script/common.js' type='text/javascript')
	script(src='./script/index.js' type='text/javascript')
	