doctype
html
	head
		title #{title}
		link(rel='stylesheet' href='./style/mobilepublic.css')
		link(rel='stylesheet' href='./style/mpay.css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1')
		meta(name='aplus' content='1')
		meta(name='apple-mobile-web-app-title' content='商城')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='format-detection' content='telephone=no,address=no')
	body(style="background:rgb(240, 242, 245);")
		div.header
			div.header-icon 
				span.glyphicon.glyphicon-map-marker
			div.header-receiver　　　
				div.header-receiver-person
					span.headerRecePerName 收货人：#{receiver.receiverName}
					span.headerRecePerPhone #{receiver.receiverPhone}
				div.header-receiver-loc
					span.header-receiver-locTit 收货地址：
					span.header-receiver-locCon #{receiver.receiverAddress}
			div.header-more
				span.glyphicon.glyphicon-chevron-right
		div.goodslist
			div.goodslistTil 
				span 商品列表
			each listSin in paylist
				div.goodslistSin
					div.listSinImg
						img(src="#{listSin.src}")
					div.listSininfo
						div.listSinInfo-name #{listSin.name}
						div.listSinInfo-standard #{listSin.stand}
					div.listprice
						span.listprice-price ￥#{listSin.price}
						span.listprice-count x#{listSin.count}
		div.footer
			span.footerLeft
				span 共
				span#footerLeftCount #{payCount}
				span 件，总金额
				span.totalPrice 
					span ￥
					span#footerPrice #{payPrice}
			span.footerSubmit 提交订单
		div.masker
			div.masker-text ＯＫ，我们已经接受到您的订单，请及时关注物流信息。
			span.masker-sign 
				span.glyphicon.glyphicon-ok
	script(src='./bower_components/jquery/dist/jquery.min.js')
	script(src='./script/mpay.js')